@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-item-selected::before {
    width: 3px;
    height: 40px;

    background: #FF4D4D;
    border-radius: 0px 4px 4px 0px;
    content: '';
    position: absolute;
    left: 0;
}
.navbar-item:hover::before {
    width: 3px;
    height: 40px;

    background: #ADADAD;
    border-radius: 0px 4px 4px 0px;
    content: '';
    position: absolute;
    left: 0;
}